.main-div-changepass {
  height: 100vh;
  width: 100vw;
  background-color: #f3e5f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
}
.changepass-logo {
  height: 18%;
  width: 50%;
  box-sizing: border-box;
  margin: 3% auto;
  padding: 0.3%;
  text-align: center;
}

.changepass-logo img {
  height: 100%;
}

.forgotpass {
  height: 68%;
  width: 34%;
  background-color: rgb(252, 240, 240);
  padding: 4%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  border-radius: 8px;
  box-sizing: border-box;
}

.title-text {
  height: 20%;
  color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #0d47a1;
  font-size: 22px;
  font-weight: 700;
  border-radius: 8px;
  margin-bottom: 6%;
}

.changepass-input {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  font-size: 18px;
  padding: 1.4%;
  margin-bottom: 2.6%;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.changepass-btn {
  color: white;
  background-color: #1976d2;
  border-radius: 25px;
  width: 30%;
  padding: 1.2% 1.2%;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  transition: 0.8s;
}

.changepass-refresh {
  color: white;
  background-color: #1976d2;
  border-radius: 25px;
  width: 25%;
  padding: 1% 1%;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  transition: 0.8s;
}

dl {
  margin: 6px auto;
  width: 100%;
}

dl dt {
  margin-bottom: 8px;
}

.buttonsdiv {
  width: 100%;
  padding: 2.3% 1.6%;
  margin: 2% 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.changepass-btn:hover {
  background-color: #1565c0;
}

#captchacontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.changepass-btn:active {
  scale: 0.8;
}

@media screen and (max-width: 768px) {
  .forgotpass {
    width: 80%;
    height: fit-content;
    padding: 5%;
  }
  .changepass-btn {
    font-size: 12px;
  }
}

.changepass.dt {
  margin-top: 15%;
}

.changepass-captchacontainer {
  margin-top: 2%;
}

.changepass-Captcha {
  margin-top: 2%;
}
