.projectsel-Main-div {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: #f3e5f5;
  box-sizing: border-box;
}

.h1-projectSelection {
  color: white;
}

.dt-projectSelection {
  margin: 0.2%;
}

.projectsel-header {
  height: 14%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("./images/picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.projectsel-header img {
  height: 80px;
  box-sizing: border-box;
}
.projectsel-header-logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.projectsel-header-title {
  width: 60%;

  text-align: center;
  font-size: 0.8em;
}
.projectsel-header-right-div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.projectsel-body-div {
  height: 82%;
  width: 100%;
  box-sizing: border-box;
  margin: 2% auto;
  display: flex;
  /* align-items:center; */
  justify-content: center;
  box-sizing: border-box;
}
.box {
  height: fit-content;
  width: 29%;
  margin-top: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2%;
  border-radius: 8px;
  background-color: #e0e0e0;
}
select {
  width: 90%;
  padding: 8px;
  border-radius: 6px;
  margin: 7px 0;
}
.projectsel-button {
  background-color: #1976d2;
  margin-top: 5%;
  color: white;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 30%;
  border-radius: 25px;
}
.projectsel-button:hover {
  background-color: #1565c0;
}
.display-activity-hide {
  display: none;
}
.display-profile-hide {
  display: none;
}
.display-activity-show {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 6px;
  border: 1px solid rgb(83, 83, 250);
  border-radius: 5px;
  position: absolute;
}
.display-activity-show a {
  padding: 4px;
}
.display-activity-show a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.display-profile-show a {
  padding: 4px;
}
.display-profile-show a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.display-profile-show {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 6px;
  width: fit-content;
  border: 1px solid rgb(83, 83, 250);
  border-radius: 5px;
  position: absolute;
}
.projectsel-header-right-div button {
  background: none;
  color: white;
  border: none;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
  position: sticky;
}
#hidevalue {
  display: none;
}
#showvalue {
  display: block;
}

@media screen and (max-width: 768px) {
  .box {
    width: 80%;
  }
  .projectsel-header img {
    height: 38px;
  }
}
